<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ question.co_name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav id="navbar-black" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" >IBM Genomics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/viewone/">Home Page</a></li>
            <li class="active"><a href="/viewone/searchcompany/">Search Companies</a></li>
	    <li><a href="/viewone/searchpubmed/">Search Authors (PubMed)</a></li>            
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <h2 style="margin-bottom: 2px;text-align: left;">{{ question.co_name }}</h2>
      <p style="text-align: left">{{ question.hq_city }}, {{ question.hq_state }}</p>
      <ul style="list-style: none;font-size:14px;">
            <li>Size of company: {{ question.no_employees }}</li>
            <li>HQ Complete Address: {{ question.hq_street }}, {{ question.hq_city }}, {{question.hq_state }} {{ question.hq_zip }}</li> 		<li>Type: {{ question.pub_priv }}</li>
            <li>Industry: {{ question.sic_code|slice:"5:" }} (SIC CODE:{{ question.sic_code|slice:":4" }})</li>
            <li>DUNS Number: {{ question.dnus_no }}, Parent DUNS Number: {{ question.duns_parent }}</li>
	    <li>Description: {{ question.description }}</li>
    </ul>
    <ul style="list-style: none;font-size:14px;">
            <li><h4 style="margin-bottom:2px;">Financial Information</h4></li>
            <li>Sales: ${% widthratio question.sales 1000000 1 %} million</li>
            <li>IT Budget: ${{ question.it_budget }} </li>
            <li>Sales Growth: {{ question.sales_growth }}</li>
            <li>Fiscal Year End: {{ question.fiscal_year_end }}</li>
            <li>Fortune 500 Rank: {{ question.fortune_rank }}</li>
    </ul>
    <ul style="list-style: none;font-size:14px;">
            <li><h4 style="margin-bottom:2px;">Contact Information</h4></li>
            <li>Phone: {{ question.hq_phone }}</li>
            <li>Email: {{ question.co_email }}</li>
            <li>LinkedIn: {{ question.linkedin }}</li>
            <li>Twitter: {{ question.twitter_link }}</li>
    </ul> 
      </div>

   </div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>


