<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ award_details.award_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav id="navbar-black" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" >IBM Genomics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/viewone/">Home</a></li>
            <li><a href="/viewone/searchcompany/">Companies (Genomics)</a></li>
	    <li><a href="/viewone/searchpubmed/">Authors (PubMed)</a></li>            
            <li class="active"><a href="/viewone/searchnsfawards/">Investigators (NSF Grants)</a></li>
	    <li><a href="/viewone/searchhospitals/">Hospitals</a><li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <h2 style="margin-bottom: 2px;text-align: left;">{{ award_details.award_title }}</h2>
      <p style="text-align: left">NSF Award No# {{ award_details.award_id }}</p>
      <ul style="list-style: none;font-size:14px;">
            <li>Award Type: {{ award_details.award_instrument }}</li>
            <li>Start Date : {{ award_details.award_start_date }}</li>
	    <li>End Date: {{ award_details.award_end_date }}</li>
            <li>Award Amount to Date: ${{ award_details.award_amount }}</li>
            <li>Initial Amendment Date: {{ award_details.initial_amendment_date }}</li>
            <li>Latest Amendment Date: {{ award_details.latest_amendment_date }}</li>
    </ul>
    <ul style="list-style: none;font-size:14px;">
            <li><h4 style="margin-bottom:2px;">Investigators</h4></li>
            {% for author in authors %}
	    <li>{{ author.first_name }} {{ author.last_name }} ({{ author.author_role }}) {{ author.email }}</li>
            {% endfor %}
    </ul>
    <ul style="list-style: none;font-size:14px;">
            <li><h4 style="margin-bottom:2px;">Tools Used</h4></li>
            <li>{{ award_details.gene_tools }}</li>
    </ul>
    <ul style="list-style: none;font-size:14px;">
            <li><h4 style="margin-bottom:2px;">Sponsor</h4></li>
            <li>{{ award_details.institution_name }}</li>
            <li>{{ award_details.institution_street_address }}</li>
            <li>{{ award_details.institution_city }}, {{ award_details.institution_state }}</li>
            <li>Contact: {{ award_details.institution_phone_number }}</li>
    </ul> 
    <ul style="list-style: none;font-size:14px;">
            <li><h4 style="margin-bottom:2px;">Abstract</h4></li>
            <li>{{ award_details.abstract }}</li>
    </ul>    
<ul style="list-style: none;font-size:14px;">
<li><button onclick="myFunction()">Print this page</button></li>
</ul>
<script>
function myFunction() {
    window.print();
}
</script>
     </div>

   </div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>


